html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global Styling */
body {
  font-size: 1.6rem;
}

body, h1, h2, h3, h4, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 6rem;
  color: #3C2E31;
}

h2 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: #3C2E31;
}

p, form {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #3C2E31;
  line-height: 20px;
}

header {
  height: 70vh;
  background-color: #CFC5B1;
}
header .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 65%;
}
header .profile .getInTouch {
  width: 20%;
  margin-top: 10px;
  border: 3px solid #3C2E31;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: transparent;
  color: #3C2E31;
  transition: all 0.3s ease;
}
header .profile .getInTouch a {
  text-decoration: none;
  color: #3C2E31;
}
header .profile .getInTouch:hover {
  background-color: #3C2E31;
}
header .profile .getInTouch:hover a {
  color: #fff;
}
header .headerIcons {
  display: flex;
}
header .headerIcons a {
  width: 50px;
  transition: all 0.3s ease;
}
header .headerIcons a:nth-child(2) {
  width: 50px;
}
header .headerIcons a img {
  width: 100%;
  height: auto;
}
header .headerIcons a:hover {
  width: 60px;
}

.projects {
  height: 100vh;
}

.languageBar {
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  height: 16%;
  z-index: 1;
  border-radius: 10px;
  background-color: #7F7E7C;
  box-shadow: 10px 5px 5px black;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
  width: calc(50% - 20px);
}/*# sourceMappingURL=style.css.map */